/********************************************************* */
/*ひょうたん温泉*/
/********************************************************* */

#hyoutan_descbutton {
    position: absolute;
    bottom: -20px;
    left: 50%;
    height: 40px;
    width: 40px;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 100%;
}

#hyoutan_desc {
    display: none;
}

#hyoutan_desc img {
    display: block;
    margin: auto;
    width: 275px;
    height: 183px;
}

#hyoutan_descbutton img {
    margin: 5px 0px;
    height: 25.2px;
    width: 25.2px;
}

/********************************************************* */
/*香り博物館*/
/********************************************************* */

#kaori_descbutton {
    position: absolute;
    bottom: -20px;
    left: 50%;
    height: 40px;
    width: 40px;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 100%;
}

#kaori_desc {
    display: none;
}

#kaori_desc img {
    display: block;
    margin: auto;
    width: 275px;
    height: 183px;
}

#kaori_descbutton img {
    margin: 5px 0px;
    height: 25.2px;
    width: 25.2px;
}

/********************************************************* */
/*湯布院フローラルヴィレッジ*/
/********************************************************* */

#yufuin_descbutton {
    position: absolute;
    bottom: -20px;
    left: 50%;
    height: 40px;
    width: 40px;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 100%;
}

#yufuin_desc {
    display: none;
}

#yufuin_desc img {
    display: block;
    margin: auto;
    width: 275px;
    height: 183px;
}

#yufuin_descbutton img {
    margin: 5px 0px;
    height: 25.2px;
    width: 25.2px;
}

/********************************************************* */
/*保養ランド*/
/********************************************************* */

#hoyou_descbutton {
    position: absolute;
    bottom: -20px;
    left: 50%;
    height: 40px;
    width: 40px;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 100%;
}

#hoyou_desc {
    display: none;
}

#hoyou_desc img {
    display: block;
    margin: auto;
    width: 275px;
    height: 183px;
}

#hoyou_descbutton img {
    margin: 5px 0px;
    height: 25.2px;
    width: 25.2px;
}

/********************************************************* */
/*全体*/
/********************************************************* */

main section {
    width: 80vw;
    margin: 50px auto;
    border: 2px solid #333;
    padding: 20px;
    position: relative;
}

section h2 {
    border-bottom: solid 1px black;
}