body {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: -webkit-fill-available;
}

main {
    width: 100%;
    position: relative; /* ★ これが絶対に必要 */
}

/* 画像 */
img {
    margin-bottom: 20%;
}

/* タイトル */
h1 {
    white-space: nowrap;
    margin-bottom: 10%;
}

/* 入力欄 */
input {
    height: 30px;
    font-size: large;
}

/* ボタン */
button {
    font-size: large;
    margin-top: 20%;
    height: 50px;
    width: 80%;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 20%;

    position: relative;
    z-index: 1000; /* ★ 透明要素より前面に */
}

button:active {
    color: #fff;
    background: #000;
}

/* エラー表示 */
#error {
    position: absolute;
    top: 100px; /* ★ ボタンの上に来ない位置へ */
    left: 50%;
    transform: translateX(-50%);
    color: red;
    visibility: hidden;
    z-index: 10; /* ボタンより下 */
}

#error.show {
    visibility: visible;
}
