main{
    margin-top: 10px;
}

/* ↓ スライドの外枠 */
.slide-wrapper {
    border: solid 1px black;
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    /* はみ出したスライドを隠す */
}

/*  ↓ スライド（コンテンツ） */
.slide {
    /*スライド全体 */
    width: 400%;
    height: 100%;
    display: flex;
    transition: all 0.3s;
}

.slide div {
    /* スライド */
    width: 25%;
    height: 100%;
    font-size: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.slide div img {
    width: 100%;
    height: auto;
}

.slide1 {
    /* スライドさせるために必要なクラス */
    transform: translateX(0);
}

.slide2 {
    /* スライドさせるために必要なクラス */
    transform: translateX(-25%);
}

.slide3 {
    /* スライドさせるために必要なクラス */
    transform: translateX(-50%);
}
.slide4 {
    /* スライドさせるために必要なクラス */
    transform: translateX(-75%);
}

.slide div:nth-of-type(1) {
    background-color: #E1F3FC;
}

.slide div:nth-of-type(2) {
    background-color: #E1F3FC;
}

.slide div:nth-of-type(3) {
    background-color: #E1F3FC;
}

.slide div:nth-of-type(4) {
    background-color: #E1F3FC;
}

/* ↓ 左右のボタン */
.next {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(45deg) translateY(50%);
    transform: rotate(45deg) translateY(50%);
}

.prev {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 25px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
}

/* ↓ インジケーター */
.indicator {
    margin-left: 25%;
    margin-right: 25%;
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    column-gap: 18px;
    z-index: 10;
    align-items: center;
}

.indicator li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    list-style: none;
    background-color: #fff;
    border: 2px #000 solid;
    cursor: pointer;
}

.indicator li:first-of-type {
    background-color: #000;
}