body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body main {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#error{
    color: red;
}
