body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body main {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

img{
    margin-bottom: 30%;
}

h1 {
    white-space: nowrap;
    margin-bottom: 15%;
}

input {
    height: 30px;
    font-size: large;
}

button {
    margin-top: 10%;
    height: 50px;
    width: 70%;
    border-radius: 25px;
    background-color: white;
}

button:active {
    margin-top: 10%;
    height: 50px;
    width: 70%;
    border-radius: 20px;
    color: #fff;
    background: #000;
}

#error {
    color: red;
}