body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body main {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

img {
    margin-bottom: 20%;
}

h1 {
    white-space: nowrap;
    margin-bottom: 10%;
}

p {
    right: 25%;
    left: 25%;
    top: 100px;
    z-index: 1000;
    position: absolute;
}

input {
    height: 30px;
    font-size: large;
}

button {
    font-size: large;
    margin-top: 20%;
    height: 50px;
    width: 80%;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 20%;
}

button:active {
    margin-top: 20%;
    height: 50px;
    width: 80%;
    border-radius: 20px;
    color: #fff;
    background: #000;
    margin-bottom: 20%;
}

#error {
    color: red;
}