body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body main {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1 {
    white-space: nowrap;
}

input {
    font-size: large;
}

button {
    margin-top: 10%;
    height: 50px;
    width: 70%;
    border-radius: 10%;
    background-color: white;
}

button:hover {
    transform: scale(0.9, 0.9);
    background-color: gray;
}

#error {
    color: red;
}