header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border: solid 1px black;
    box-shadow: 10px 10px 0px rgb(52, 52, 52);
}

header button {
    border: none;
    background: none;
    margin-left: auto;
    padding-top: auto;
    padding-bottom: auto;
    height: 30%;
}

main {
    position: fixed;
    margin-top: 10px;    
}

main iframe {
    position: fixed;
    height: 87vh;
    width: 100vw;
    transform: scale(1.1,1.0);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 90%;
}
