header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border: solid 1px black;
    box-shadow: 10px 10px 0px rgb(52, 52, 52);
}

header img {
    margin-left: auto;
    padding-top: auto;
    padding-bottom: auto;
    width: 10%;
    height: 50%;
}

main {
    position: fixed;
    margin-top: 10px;    
}

main iframe {
    position: fixed;
    height: 94vh;
    width: 100vw;
    transform: scale(1.1,1.0);
}