/********************************************************* */
/*３月３日*/
/********************************************************* */

#three_day {
    grid-column: 1/3;
    grid-row: 1/2;
}

#three_day tr {
    margin-bottom: 0;
    padding-bottom: 0;
}

#three_day h3 {
    margin: 1% 0 0 16%;
    text-align: left;
}

#three_day img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-position: left top;
    display: inline-block;
}

/********************************************************* */
/*３月４日*/
/********************************************************* */

#four_day {
    grid-column: 1/3;
    grid-row: 2/3;
}

#four_day tr {
    margin-bottom: 0;
    padding-bottom: 0;
}

#four_day h3 {
    margin: 0 16% 0 0;
    padding-bottom: 0;
    text-align: right;
}

#four_day img {
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-position: right top;
    display: inline-block;
}

/********************************************************* */
/*３月５日*/
/********************************************************* */

#five_day {
    grid-column: 1/3;
    grid-row: 3/4;
    padding-bottom: 0;
    margin-bottom: 0;
}

#five_day tr {
    margin-bottom: 0;
    padding-bottom: 0;
}

#five_day h3 {
    margin: 0 0 0 16%;
    text-align: left;
}


#five_day img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-position: left top;
    display: inline-block;
}

/********************************************************* */
/*全体*/
/********************************************************* */
main {
    display: grid;
    position: fixed;
    max-width: 100vw;
    max-height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35% 35% 35%;
}

main img {
    width: 200px;
    height: 140px;
}