@font-face {
    font-family: "senobi";
    src: url("../../font/Senobi-Gothic-Medium.ttf") format(truetype);
}
@font-face {
    font-family: "irohamaru";
    src: url("../../font/irohamaru-Medium.ttf") format(truetype);
}

h1{
    font-family:"senobi";
}

.model-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    /*display: none;*/
    justify-content: flex-end;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 0.2s;
}

.model-content{
    background-color: #fff;
    padding: 20px;
    height: 100%;
    width: 70%;
    z-index: 10000;
    animation: slideUp 0.25s;
}

.model-content h2{
    font-size: 45px;
    top: 10px;
    text-align: right;
    border-bottom: solid 1px black;
}

@keyframes fadeIn {
    from { opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideUp {
    from { transform: translateX(20px);opacity: 0;}
    to { transform: translateX(0);opacity: 1;}
}
